div.animation {
  width: 100%;
  height: 100%;
  background-color: #e99767;
  position: fixed;
  top: 0;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#first {
  stroke-dasharray: 431px;
  stroke-dashoffset: 431px;
  -webkit-animation: fadeInside 0.8s ease-in forwards;
          animation: fadeInside 0.8s ease-in forwards;
}

#second {
  stroke-dasharray: 305px;
  stroke-dashoffset: 305px;
  -webkit-animation: fadeInside 0.8s ease-in forwards 0.3s;
          animation: fadeInside 0.8s ease-in forwards 0.3s;
}

#third {
  stroke-dasharray: 377px;
  stroke-dashoffset: 377px;
  -webkit-animation: fadeInside 0.8s ease-in forwards 0.6s;
          animation: fadeInside 0.8s ease-in forwards 0.6s;
}

#fourth {
  stroke-dasharray: 209px;
  stroke-dashoffset: 209px;
  -webkit-animation: fadeInside 0.8s ease-in forwards 0.9s;
          animation: fadeInside 0.8s ease-in forwards 0.9s;
}

#fifth {
  stroke-dasharray: 319px;
  stroke-dashoffset: 319px;
  -webkit-animation: fadeInside 0.8s ease-in forwards 1.2s;
          animation: fadeInside 0.8s ease-in forwards 1.2s;
}

#sixth {
  stroke-dasharray: 272px;
  stroke-dashoffset: 272px;
  -webkit-animation: fadeInside 0.8s ease-in forwards 1.5s;
          animation: fadeInside 0.8s ease-in forwards 1.5s;
}

#seventh {
  stroke-dasharray: 334px;
  stroke-dashoffset: 334px;
  -webkit-animation: fadeInside 0.8s ease-in forwards 1.8s;
          animation: fadeInside 0.8s ease-in forwards 1.8s;
}

#eighth {
  stroke-dasharray: 334px;
  stroke-dashoffset: 334px;
  -webkit-animation: fadeInside 0.8s ease-in forwards 2.1s;
          animation: fadeInside 0.8s ease-in forwards 2.1s;
}

#ninth {
  stroke-dasharray: 1030px;
  stroke-dashoffset: 1030px;
  -webkit-animation: fadeInside 0.8s ease-in forwards 0.8s;
          animation: fadeInside 0.8s ease-in forwards 0.8s;
}

#tenth {
  stroke-dasharray: 1196px;
  stroke-dashoffset: 1196px;
  -webkit-animation: fadeInside 0.8s ease-in forwards 1.2s;
          animation: fadeInside 0.8s ease-in forwards 1.2s;
}

#eleventh {
  stroke-dasharray: 1006px;
  stroke-dashoffset: 1006px;
  -webkit-animation: fadeInside 0.8s ease-in forwards 1.5s;
          animation: fadeInside 0.8s ease-in forwards 1.5s;
}

#twelfth {
  stroke-dasharray: 1521px;
  stroke-dashoffset: 1521px;
  -webkit-animation: fadeInside 0.8s ease-in forwards 1.8s;
          animation: fadeInside 0.8s ease-in forwards 1.8s;
}

#thirteenth {
  stroke-dasharray: 532px;
  stroke-dashoffset: 532px;
  -webkit-animation: fadeInside 0.8s ease-in forwards 2.1s;
          animation: fadeInside 0.8s ease-in forwards 2.1s;
}

#fourtheenth {
  stroke-dasharray: 1118px;
  stroke-dashoffset: 1118px;
  -webkit-animation: fadeInside 0.8s ease-in forwards 2.4s;
          animation: fadeInside 0.8s ease-in forwards 2.4s;
}

#fiftheenth {
  stroke-dasharray: 1052px;
  stroke-dashoffset: 1052px;
  -webkit-animation: fadeInside 0.8s ease-in forwards 2.6s;
          animation: fadeInside 0.8s ease-in forwards 2.6s;
}

@-webkit-keyframes fadeInside {
  to {
    stroke-dashoffset: 0px;
  }
}

@keyframes fadeInside {
  to {
    stroke-dashoffset: 0px;
  }
}

svg {
  -webkit-animation: fill 1.5s ease-in forwards 2.6s;
          animation: fill 1.5s ease-in forwards 2.6s;
}

@-webkit-keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: white;
  }
}

@keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: white;
  }
}
/*# sourceMappingURL=animation.css.map */