* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
}

body {
  position: relative;
}

.orange {
  position: absolute;
  top: -10vh;
  right: 0;
  z-index: -1;
  width: 55vw;
  height: 150vh;
}

header {
  nav {
    width: 100%;
    ul {
      padding: 2rem;
      width: 70%;
      display: flex;
      list-style-type: none;
      justify-content: space-around;
      li {
        font-size: 1.2rem;
        a {
          text-decoration: none;
          color: black;
        }
      }
    }
  }
}

main {
  display: flex;
  flex-wrap: wrap;

  section.left {
    // flex grow、shirk、basis
    padding: 2rem;
    flex: 1.8 1 500px;

    h1 {
      font-size: 4rem;
      color: #ec9523;
    }
    p {
      font-size: 1.2rem;

      padding: 1rem 0rem;
    }
  }
  section.right {
    flex: 1 1 600px;
    position: relative;
    img {
      width: 40vh;
      height: 40vh;
      border-radius: 50%;
      position: absolute;
      top: 36vh;
      right: 25vw;
    }
  }

  section.table {
    padding: 1rem;
    flex: 3 1 500px;
    table {
      border-collapse: collapse;
      // 這裡沒設定的話 就不會有分隔線
      tr {
        border-bottom: 2px solid gray;
        transition: all 0.3s ease;
        td {
          padding: 1rem;
        }
        &:hover {
          background-color: #ecb062;
        }
      }
    }
  }
  section.picture {
    flex: 1 1 600px;
    position: relative;

    img {
      width: 38vw;
      height: 48vh;
      position: absolute;
      bottom: 80px;
    }
    div.orangeRect {
      width: 38vw;
      height: 48vh;
      background-color: #ecdaa7;
      position: absolute;
      top: 30px;
      left: 70px;
      z-index: -1;
    }
  }
}

footer {
  padding-top: 3rem;
  a {
    padding: 2rem;
  }
}

.active {
  color: orange;
}

@media screen and (max-width: 1100px) {
  .orange {
    // opacity = 透明度
    opacity: 0.5;
  }

  header {
    nav {
      ul {
        flex-direction: column;
        width: 38%;

        li {
          padding: 1rem 0rem;
          border-bottom: 2px solid gray;
        }
      }
    }
  }

  main {
    section.right {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 1rem;
      img {
        position: static;
        width: 50vw;
        height: 50vw;
      }
    }
    section.picture {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 90vw;
        height: 65vh;
      }
      div.orangeRect {
        display: none;
      }
    }
  }
}

// second page
